.vscode/
target/
old_stuff/unix_domain_communication/target
old_stuff/unix_domain_communication/src/loopback-socket
old_stuff/unix_domain_communication/loopback-socket
old_stuff/sodium_oxide_usage/target
old_stuff/basic_protocol/target
old_stuff/syn_examples/target
secret_integers_usage/target
split_prototype/target
split_functions/target
split_tonic/target
split_result/
split_chacha/target
